﻿@model JamRockApplication_v1.Models.AdminViewModels.BlogViewModels.AddPostViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "New Post";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="row">
        <div class="text-center">
            <div class="alert alert-danger alert-dismissable">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </div> 
}

<div class="container-fluid">
    <div class="row">
        <form asp-action="AddPost" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img-responsive" src="~/images/download.png" id="imgPreview" style="height:200px;width:200px;" alt="placeholder"/>
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">Event Image</h6>
                        <h4 class="card-title">Please Upload image here</h4>
                        <div class="form-group">
                            <label class="btn btn-primary">Select Image</label>
                            <input type="file" asp-for="newsImage" onchange="previewFile(this)" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title text-center">Create Your Post</h4>
                    </div>
                    <div class="card-content">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control" asp-for="Category" required>
                                    <option selected disabled>Choose Category</option>
                                    <option value="Upcoming">Upcoming Event</option>
                                    <option value="Spots">Abuja Spot</option>
                                    <option value="News">Latest News</option>
                                </select>
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group label-floating">
                                    <label asp-for="title" class="col-md-2 control-label"></label>
                                    <input asp-for="title" class="form-control" type="text"/>
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label asp-for="content" class="col-md-2 control-label"></label>
                                    <textarea asp-for="content" class="form-control" rows="7" type="text"></textarea>
                                    <span asp-validation-for="content" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Add Post</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
