﻿@model JamRockApplication_v1.Models.AdminViewModels.BlogViewModels.DisplayPostViewModel
    @{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
        ViewData["Title"] = Model.title;
    }
<div class="container">
    <div class="row container">
        <div class="col-md-12 hidden-md-up">
            <a class="btn btn-block btn-blue-grey" asp-action="Index">Go Back</a>
        </div>
    </div>
    <!-- Cover photo -->
    <div class="row mb-2 mt-1 wow fadeIn container-fluid">
        <div class="col-md-12">
            <!--Image-->
            <div class="view">
                <img src="@Model.newsImage" class="img-fluid z-depth-2" alt="@Model.title image" style="height: 500px;">
            </div>
        </div>
    </div>
    <hr />
    <!--/ Cover photo -->
    <!--Blog-->
    <div class="row container-fluid">
        <!--Main listing-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

            <!--Post data-->
            <div class="blog-text thin-text wow fadeIn" data-wow-delay="0.3s">

                <!-- Post data -->
                <h6 class="text-muted"> @Model.CreatedOn.ToShortDateString()</h6>
                <h2>@Html.DisplayFor(model => model.title)</h2>

            </div>
            <!--/.Post data-->
            <!--Section: Post-->
            <section class="section">
                <!--First row-->
                <div class="row">
                    <div class="col-md-12">
                        <!--Post text-->
                        <div class="thin-post-text wow fadeIn" data-wow-delay="0.3s">
                            <p class="description font-bold">
                               @Html.DisplayFor(model => model.content)
                            </p>
                            @*<!--Pictures in post-->
                            <div class="post-pictures">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20(54).jpg" style="margin-bottom:5px;">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20(58).jpg" style="margin-bottom:5px;">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20(60).jpg" style="margin-bottom:5px;">

                            </div>
                            <!--/.Pictures in post-->*@

                        </div>
                        <!--/Post text-->


                    </div>

                </div>
                <!--/First row-->

            </section>
            <!--/.Section: Post-->

        </div>
        <!--/.Main listing-->
        <!--Sidebar-->
        <div class="col-lg-4 hidden-sm-down">

            <!--Author card-->
            <section class="wow fadeInRight" data-delay="0.2s">

                <!--Card-->
                <div class="card author-card">

                    <!--Background image-->
                    <div class="card-up">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%2831%29.jpg" class="img-fluid">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="https://jamrock.azureedge.net/images/logo.png" class="img-fluid img-author">
                    </div>

                    <div class="card-block">

                        <!--Name-->
                        <h4 class="card-title"><strong>JamRock Blog</strong></h4>
                        <!--Description-->
                        <p>Welcome to the jamrock blog. Your go-to place for all the latest news on what's happening in Abuja, the latest spots and all upcoming events.</p>

                        <ul class="inline-ul circle-icons">
                            <!--Facebook-->
                            <li><a class="btn-floating btn-small btn-fb" href="https://www.facebook.com/jamrockng/"><i class="fa fa-facebook"> </i></a></li>
                            <li><a class="btn-floating btn-small btn-tw" href="https://twitter.com/jamrock_ng"><i class="fa fa-twitter"> </i></a></li>
                            <li><a class="btn-floating btn-small btn-ins" href="https://www.instagram.com/jamrock_ng/"><i class="fa fa-instagram"> </i></a></li>
                            <!--Google +-->
                        </ul>

                    </div>

                </div>
                <!--/Card-->

            </section>
            <!--/Author card-->
        </div>
        <!--/Sidebar-->
    </div>
    <!--/.Blog-->
</div>