﻿@model JamRockApplication_v1.Models.AdminViewModels.BlogViewModels.DisplayPostViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Edit Post";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a>
                        <img class="img-responsive" src="@Model.newsImage" id="imgPreviewEdit"  style="height:200px;width:200px;" alt="placeholder" />
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">Blog Image</h6>
                    <h4 class="card-title">Please Upload image here</h4>
                    <div class="form-group">
                        <label class="btn btn-primary">Select Image</label>
                        <input type="file" onchange="EditpreviewFile(this)"accept="image/*" />
                    </div>
                    <button class="btn btn-primary" onclick="updateBlogImage(@Model.Id)">Upload New Image</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title text-center">Update Your Post</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control" required id="blogCategory">
                                <option selected>@Model.Category</option>
                                <option value="Upcoming">Upcoming Event</option>
                                <option value="Spots">Abuja Spot</option>
                                <option value="News">Latest News</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-warning" onclick="updateBlogCategory(@Model.Id)">Update Category</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group label-floating">
                                <label class="col-md-2 control-label"></label>
                                <input value="@Model.title" class="form-control" type="text" id="blogTitle"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-warning" onclick="updateBlogTitle(@Model.Id)">Update Title</button>
                        </div></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label  class="col-md-2 control-label"></label>
                                <textarea class="form-control" rows="7" type="text" id="blogContent">@Model.content</textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning" onclick="updateBlogContent(@Model.Id)">Update Content</button>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
