﻿@model JamRockApplication_v1.Models.AdminViewModels.BlogViewModels.postPageViewModel
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = "News";
}
<div class="container-fluid">
<!--Navbar-->
<nav class="navbar navbar-toggleable-md">
    <div class="container d-flex text-center">
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" style="color: white;">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-category="News" style="color: white;">Latest News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-category="Spots" style="color: white;">Abuja Spots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-category="Upcoming" style="color: white;">Upcoming Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="between-sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="overflow-x:hidden;">
                @if (!Model.allPosts.Any())
                {
                    <h2 class="text-center">No Posts Currently Available.</h2>
                }
                else
                {
                <!--Section: Blog v.2-->
                    <section class="section extra-margins text-center mix-listing wow fadeIn" data-delay="0.2s">
                        @foreach (var item in Model.allPosts)
                        {
                         <!--First post-->
                            <div class="single-post wow fadeIn" data-delay="0.3s">

                                <!--First row-->
                                <div class="row">

                                    <!--First column-->
                                    <div class="col-md-12">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight mb-2">
                                            <img src="@item.newsImage" class="img-responsive">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                        <a href="" class="green-text">
                                            <h5 class="text-center pt-2">
                                                @item.Category
                                            </h5>
                                        </a>
                                        <h4>@item.title.</h4>
                                        <p>Posted on: @item.CreatedOn.ToShortDateString()</p>
                                        <p>@item.content.Substring(0, Math.Min(item.content.Length, 250))....</p>
                                        <a class="btn btn-primary btn-rounded" asp-action="Details" asp-route-id="@item.Id">Read more</a>
                                    </div>
                                    <!--/First column-->
                                </div>
                                <!--/.First row-->
                            </div>
                            <hr />
                    <!--/First post-->
                        }
                    </section>
                <!--/Section: Blog v.2-->
                }
            </div>
            <!--/.Main listing-->
            <!--Sidebar-->
            <div class="col-lg-4 hidden-sm-down">

                <!--Author card-->
                <section class="wow fadeInRight" data-delay="0.2s">

                    <!--Card-->
                    <div class="card author-card">

                        <!--Background image-->
                        <div class="card-up">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%2831%29.jpg" class="img-fluid">
                        </div>

                        <!--Avatar-->
                        <div class="avatar">
                            <img src="https://jamrock.azureedge.net/images/logo.png" class="img-fluid img-author">
                        </div>

                        <div class="card-block">

                            <!--Name-->
                            <h4 class="card-title"><strong>JamRock Blog</strong></h4>
                            <!--Description-->
                            <p>Welcome to the jamrock blog. Your go-to place for all the latest news on what's happening in Abuja, the latest spots and all upcoming events.</p>

                            <ul class="inline-ul circle-icons">
                                <!--Facebook-->
                                <li><a class="btn-floating btn-small btn-fb" href="https://www.facebook.com/jamrockng/"><i class="fa fa-facebook"> </i></a></li>
                                <li><a class="btn-floating btn-small btn-tw" href="https://twitter.com/jamrock_ng"><i class="fa fa-twitter"> </i></a></li>
                                <li><a class="btn-floating btn-small btn-ins" href="https://www.instagram.com/jamrock_ng/"><i class="fa fa-instagram"> </i></a></li>
                                <!--Google +-->
                            </ul>

                        </div>

                    </div>
                    <!--/Card-->

                </section>
                <!--/Author card-->

                <div class="divider-new wow fadeInRight">
                    <h3>Popular posts</h3>
                </div>

                <!--Popular posts-->
                <section class="section">

                    <!--First row-->
                    <div class="row">
                        @if (!Model.popularPosts.Any())
                        {
                            <h2 class="text-center">No Posts Currently Available.</h2>
                        }
                        else
                        {
                            foreach (var item in Model.allPosts)
                            {
                                <div class="col-md-12 wow fadeInRight" data-delay="0.3s">
                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1">
                                        <img src="@item.newsImage" class="img-responsive">
                                        <a href="#!">
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                    <!--Post data-->
                                    <div class="mb-3-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i>@item.CreatedOn.ToShortDateString()</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 145</span>
                                    </div>

                                    <!--Post title-->
                                 
                                    <a asp-action="Details" asp-route-id="@item.Id">@item.title</a>
                                    <div class="post-border pt-1"></div>

                                </div>
                            }
                        }


                    </div>
                    <!--/First row-->

                </section>

                <!--/Popular posts-->

                <div class="divider-new wow fadeIn" data-wow-delay="0.3s">
                    <h3>Newsletter</h3>
                </div>

                <!--Newsletter-->
                <section class="wow fadeIn" data-wow-delay="0.3s">

                    <!--First row-->
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">

                            <!--Form without header-->
                            <div class="card">
                                <div class="card-block">

                                    <!--Header-->
                                    <div class="text-center">
                                        <h3><i class="fa fa-pencil"></i> Subscribe:</h3>
                                        <hr class="mt-2 mb-2">
                                    </div>

                                    <!--Body-->
                                    <p>We'll write rarely, but only the best content.</p>
                                    <br>

                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="form3" class="form-control">
                                        <label for="form3">Your name</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="text" id="form2" class="form-control">
                                        <label for="form2">Your email</label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-default">Send</button>
                                    </div>

                                </div>
                            </div>
                            <!--/Form without header-->

                        </div>
                        <!--/First column-->
                    </div>
                    <!--/First row-->

                </section>
                <!--/Newsletter-->
            </div>
            <!--/Sidebar-->
        </div>
    </div>
</div>
