﻿@model IEnumerable<JamRockApplication_v1.Models.AdminModels.Post>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "News";
}

<div class="row">
    <a class="btn btn-primary" asp-controller="Blog" asp-action="AddPost">Add New Post</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Blog Posts</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h2>No Posts in the Database</h2>

                }
                else
                {
                    <table class="table" id="dataTable">
                        <thead class="text-primary">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.title)</th>
                                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i>/</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>

                }

            </div>
        </div>
    </div>
</div>