﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Manage All Products
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>To Create a New Product, Click the Add new product. Finish inserting the product details, after which you will be taken to the details page where you can insert the different colors, sizes and quantities of your product.</li>
                    <li>To Update Product details, go to the manage all products page, then click the icon here and it'll take you to the page that allows you to update the product details.</li>
                    <li>To Delete the product, simply click the icon here beside the product you want to delete.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   View All Orders
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <ul>
                    <li>This page displays all current orders.</li>
                    <li>To view details for that order, simply click on the details link on that row.</li>
                    <li>This page displays the products the customer has ordered.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Manage All Events
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <ul>
                    <li>This page displays all events that have been created.</li>
                    <li>To Add a new event, click the add new event button and insert the event details.</li>
                    <li>To Make changes to the event details, click the manage link on the manage all events page.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingfour">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapseOne">
                    Manage Blog
                </a>
            </h4>
        </div>
        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>To Create a new blog entry, simply click the manage blog link on the side menu. Select the Add new post button and input the necessary information.</li>
                    <li>To Update a blog entry, simply click the manage blog link again. Then select the icon beside the entry you wish to update. </li>
                    <li>To Delete a blog entry, simply click the manage blog link again. Then select the icon beside the entry you wish to delete </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingfive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseTwo">
                    Creating new users
                </a>
            </h4>
        </div>
        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <ul>
                    <li>To Create a new user, simply visit the create new staff link.</li>
                    <li>Select the role you wish to give this staff, fill out the necessary information and click register</li>
                </ul>
            </div>
        </div>
    </div>
</div>