﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Total Customers</p>
                <h3 class="title">@ViewBag.customers<small> people</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Total Revenue</p>
                <h3 class="title">&#8358; @ViewBag.revenue</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Products Sold</p>
                <h3 class="title">@ViewBag.productsSold</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated            
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="card-content">
                <p class="category">Blog Posts</p>
                <h3 class="title">@ViewBag.posts</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated                 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Orders Pending</p>
                <h3 class="title">@ViewBag.ordersPending</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Orders Received</p>
                <h3 class="title">@ViewBag.ordersTotal</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <p class="category">Orders Completed</p>
                <h3 class="title">@ViewBag.ordersCompleted</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    Last Updated @ViewBag.lastUpdated
                </div>
            </div>
        </div>
    </div>
</div>
