﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.AddArtistViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <form asp-action="AddArtist" enctype="multipart/form-data">
        <input hidden asp-for="raveId" value="@ViewBag.rave"/>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a>
                        <img class="img-responsive" src="~/images/download.png" id="imgPreview" style="height:200px;width:200px;" alt="placeholder"/>
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">Artist Image</h6>
                    <h4 class="card-title">Please Upload image here</h4>
                    <div class="form-group">
                        <label for="exampleInputFile" class="btn btn-primary">Select Image</label>
                        <input type="file" asp-for="avatar" onchange="previewFile(this)" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title text-center">Artist Information</h4>
                </div>
                <div class="card-content">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" type="text" />
                                <span asp-validation-for="Name" class="text-danger" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Add Artist</button>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </form>
</div>
