﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.AddEventViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <br />
    <div class="row">
        <form asp-action="AddEvent" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img-responsive" src="~/images/download.png" id="imgPreview" style="height:200px;width:200px;" alt="placeholder"/>
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">Event Image</h6>
                        <h4 class="card-title">Please Upload Your event image here</h4>
                        <div class="form-group">
                            <label class="btn btn-primary">Select Image</label>
                            <input type="file" asp-for="eventImage" onchange="previewFile(this)" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title text-center">Event Information</h4>
                    </div>
                    <div class="card-content">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" type="text"/>
                                        <span asp-validation-for="Name" class="text-danger"></span>                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div>
                                        <label asp-for="eventDate" class="control-label"></label>
                                        <input asp-for="eventDate" class="form-control" type="date" />
                                        <span asp-validation-for="eventDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div>
                                        <label asp-for="Location" class="control-label"></label>
                                        <input asp-for="Location" class="form-control" type="text"/>
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control" rows="3" type="text"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Add Event</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
