﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.DisplayEventViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = Model.Name + " Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" style="width:200px;height:200px;" src="@Model.eventImage" id="imgPreviewEdit" />
            <div class="form-group">
                <label class="btn btn-primary">Select New Image</label>
                <input type="file" onchange="EditpreviewFile(this)" accept="image/*" />
            </div>
            <button class="btn btn-danger" onclick="updateEventImage(@Model.ID)">Change Image</button>
        </div>
        <div class="col-md-7 table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>
                            Event Name
                        </td>
                        <td>
                            <input value="@Model.Name" id="eventName" type="text" />
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="updateEventName(@Model.ID)">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event Location
                        </td>
                        <td>
                            <input value="@Model.Location" id="eventLocation" type="text" />
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="updateEventLocation(@Model.ID)">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event Description
                        </td>
                        <td>
                            <input value="@Model.Description" id="eventDescription" type="text" />
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="updateEventDescription(@Model.ID)">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event Date
                        </td>
                        <td>
                            <input type="date" id="eventDate" placeholder="@Model.eventDate.ToShortDateString()"/>
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="updateEventDate(@Model.ID)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <br />
    <h3>Artist Line Up</h3>
    <a asp-action="NewArtist" asp-route-id="@Model.ID" class="btn btn-success">Add New Artist</a>
    <hr />
    <div class="row">
        @foreach (var item in Model.eventArtists)
        {
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" style="width:150px;height:150px;" src="@item.avatar" alt="@item.Name image" />
            <h5>@item.Name</h5>
            <a class="btn btn-danger" asp-action="RemoveArtist" asp-route-id="@item.Id" asp-route-rave="@Model.ID">Remove</a>
        </div>
        }
    </div>
    <hr />
    <div class="row">
        <h2>Gallery</h2>
        <div class="btn btn-primary btn-sm">

            <span>Select Images to Upload</span>
            <input type="file" multiple id="eventImages" onchange="setImages(this)">
        </div>
        <a onclick="startUpload(@Model.ID)" class="btn btn-info">Upload Images</a>
        <hr/>
        @foreach (var item in Model.Gallery)
        {
        <div class="col-md-2">
            <img class="img-responsive img-thumbnail" style="width:100px;height:100px;" src="@item.Image" alt="gallery item" />
            <a class="btn btn-danger" asp-action="RemoveImage" asp-route-id="@item.Id" asp-route-rave="@Model.ID">Remove</a>
        </div>
        }
    </div>
</div>
