﻿@model IEnumerable<JamRockApplication_v1.Models.AdminViewModels.EventViewModels.DisplayEventViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <a class="btn btn-primary" asp-controller="Event" asp-action="AddEvent">Add New Event</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Events Table</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h3>No Events In The Database</h3>

                }
                else
                {
                    <table class="table" id="dataTable">
                        <thead class="text-primary">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.eventImage)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Location)</th>
                                <th>@Html.DisplayNameFor(model => model.eventDate)</th>
                            </tr>                
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img class="img-responsive img-thumbnail" style="width:50px;height:50px;" src="@item.eventImage" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eventDate)</td>
                                    <td>
                                        <a asp-action="DeleteEvent" asp-route-id="@item.ID">Delete <i class="fa fa-trash-o" aria-hidden="true"></i>|</a>
                                        <a asp-action="EventDetails" asp-route-id="@item.ID">Manage <i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
            </div>
        </div>
    </div>
</div>