﻿html,
        body{
            height: 100%;
    font-family: 'Open Sans', sans-serif !important;
        }
        /* Navigation*/
        
main{
    margin-top:90px;
    margin-bottom:0;
        display: flex;
    min-height: 100vh;
    flex-direction: column;
}

        .navbar {
            background-color: transparent;
        }
        
        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        
        .top-nav-collapse {
            background-color: #1C2331;
        }
        
        footer.page-footer {
            background-color: #1C2331;
            margin-top: 2rem;
        }
        
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }
        /*Call to action*/
        
        .flex-center {
            color: #fff;
        }
        
    
        /*Contact section*/
       .advantages .rounded-circle {
    width: 8rem;
    height: 8rem;
    border: 5px solid #373a3c;
    padding-top: 1.5rem;
}
       .advantages .fa {
    font-size: 4rem;
}

        .navcontainer{
            padding:15px;
        }

        .navCardLower{
            width:350px;
            border-radius:15px;
            margin-bottom:10px;
            height:233px;
        }

        .navcardWide{
            width:735px;
            height:260px; 
            border-radius:15px;
            margin-bottom:10px;
        }

        /* Cover text */
.blog-text {
  margin-bottom: 2rem; }
  .blog-text h1 {
    margin-bottom: 1rem; }
  .blog-text.thin-text h2 {
    font-weight: 300;
    text-transform: uppercase; }
  .blog-text.thin-text h6 {
    font-weight: 400;
    padding-bottom: 0.3rem; }
  .blog-text h5 {
    font-weight: 400; }
    .blog-text h5 i {
      padding-left: 0.7rem; }

.thin-post-text {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0; }
  .thin-post-text p {
    font-weight: 300; }

.blog-post-text {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0; }

/* Author card */
.author-card .card-up {
  overflow: hidden;
  height: 180px; }

.author-card .avatar {
  height: 170px;
  width: 170px;
  margin: -65px auto 0;
  overflow: hidden; }
  .author-card .avatar img {
    width: 100%; }
  .author-card .avatar .img-author {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff; }

.author-card .card-block {
  text-align: center; }
  .author-card .card-block .card-title {
    padding-bottom: 0.7rem; }

  /* Archive */
.archive ul {
  margin-top: -1rem;
  margin-bottom: 0; }
  .archive ul li {
    padding-top: 0.8rem;
    border-top: 1px solid #eceeef;
    padding-bottom: 0.3rem; }
    .archive ul li h5 a {
      color: #373a3c;
      -webkit-transition: color 0.65s;
      -moz-transition: color 0.65s;
      -o-transition: color 0.65s;
      -ms-transition: color 0.65s;
      transition: color 0.65s; }
      .archive ul li h5 a:hover {
        color: #bdbdbd; }
    .archive ul li:first-of-type {
      border-top: none; }
    .mb-3-half {
    margin-bottom: 3.5rem;
}
    .post-border {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.4rem;
}
.pt-1 {
    padding-top: 1rem !important;
}
.ul {
    padding: 0;
    list-style-type: none;
}

.circle-icons i {
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e0e0e0;
    color: #bdbdbd;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.mb-1 {
    margin-bottom: 1rem !important;
}
.mb-2-half {
    margin-bottom: 2.5rem;
}

.mb-3 {
    margin-bottom: 3rem !important;
}
.flex-center, .card-overlay, .section.team-section .avatar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.indigo-text-2 {
    color: #464186 !important;
}
.font-bold {
    font-weight: 500;
}
.font-up {
    text-transform: uppercase;
}

.bottomMargin{
    margin-bottom:5px;
}


.cardImageSizeNarrower{
    width:322px;
    height:214px !important;
}

.sponsorImageContainer{
    padding: 30px;
    height:168px;
    width:198px;  
}

.sponsorImage{
    height:150px;
    width:150px;
}

.sponsorImage img{
   vertical-align:middle;
    align-content: center;

}