﻿@model JamRockApplication_v1.Models.AdminViewModels.ProductViewModels.AddProductViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Add Product";
}


<div class="container-fluid">
    <div class="row">
        <form asp-action="AddProduct" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img-responsive" src="~/images/download.png" id="imgPreview" style="height:200px;width:200px;" alt="placeholder"/>
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">Event Image</h6>
                        <h4 class="card-title">Please Upload Your event image here</h4>
                        <div class="form-group">
                            <label for="exampleInputFile" class="btn btn-primary">Select Image</label>
                            <input type="file" asp-for="productImage" onchange="previewFile(this)" accept="image/*" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title text-center">Product Information</h4>
                    </div>
                    <div class="card-content">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label asp-for="Name" class="col-md-2 control-label"></label>
                                    <input asp-for="Name" class="form-control" required type="text"/>
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label asp-for="Price" class="col-md-2 control-label"></label>
                                    <input asp-for="Price" class="form-control" required type="number"/>
                                    <span asp-validation-for="Price" class="text-danger" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" asp-for="Gender" required>
                                    <option selected disabled>Choose Gender</option>
                                    <option value="Men">Men</option>
                                    <option value="Women">Women</option>
                                    <option value="Both">Both</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger" />
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" asp-for="Category" required>
                                    <option selected disabled>Choose Category</option>
                                    <option value="T-Shirt">T-Shirt</option>
                                    <option value="Polo-Shirt">Polo Shirt</option>
                                    <option value="Tank-Top">Tank Top</option>
                                    <option value="Trucker-Caps">Trucker Caps</option>
                                    <option value="BaseBall-Caps">BaseBall-Caps</option>
                                    <option value="Snap-Back">Snap-Back</option>
                                    <option value="Accessory">Accessory</option>
                                </select>
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label asp-for="Description" class="col-md-2 control-label"></label>
                                    <textarea asp-for="Description" class="form-control" rows="3" required type="text"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Add Product</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
