﻿@model IEnumerable<JamRockApplication_v1.Models.AdminModels.Order>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Orders";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Shop Orders</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h2>No Orders in the Database</h2>

                }
                else
                {
                    <table class="table" id="dataTable">
                        <thead class="text-primary">
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Email</th>
                                <th>Phone Number</th>
                                <th>Delivery Type</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Customer.Name
                                    </td>
                                    <td>@item.Customer.Email</td>
                                    <td>@item.Customer.Phone</td>
                                    <td>@item.DeliveryType</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a asp-action="OrderDetails" asp-route-id="@item.Id">details</a>
                                    </td>
                                    <td>
                                        @if (item.Status.Equals("Complete"))
                                        {
                                            <a class="btn btn-info">Completed</a>
                                        }
                                        else
                                        {
                                            <a asp-action="updateProductStatus" asp-route-id="@item.Id" class="btn btn-success">Mark As Completed</a> 
                                        }
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                }

            </div>
        </div>
    </div>
</div>