﻿@model JamRockApplication_v1.Models.AdminModels.Order
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Order Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="yellow">
                <h4 class="title">Orders Details</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h2>No Orders in the Database</h2>

                }
                else
                {
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th>Product Name</th>
                            <th>Product Size</th>
                            <th>Product Color</th>
                            <th>Product Quantity</th>
                            <th>Product Price</th>
                        </tr>
                        </thead>
                        <tbody id="tb">
                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>@item.ProductSize</td>
                                <td>@item.ProductColor</td>
                                <td>@item.ProductQuantity</td>
                                <td>@item.ProductPrice</td>                          
                            </tr>
                        }
                        </tbody>

                    </table>

                }

            </div>
        </div>
    </div>
</div>