﻿@model IEnumerable<JamRockApplication_v1.Models.AdminViewModels.ProductViewModels.DisplayProductViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Producs";
}

<div class="row">
    <a class="btn btn-primary" asp-controller="Product" asp-action="AddProduct">Add New Product</a>
    <a class="btn btn-primary" onclick="deleteSelected()">Delete Selected Products</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Products List</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h2>No Products in the Database</h2>

                }
                else
                {
                    <table class="table" id="dataTable">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>@Html.DisplayNameFor(model => model.productImage)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Category)</th>
                                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" id="@item.ID" /></td>
                                    <td>
                                        <img class="img-responsive img-thumbnail" style="width:50px;height:50px;" src="@item.productImage" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                    <td>
                                        <a asp-action="UpdateProduct" asp-route-id="@item.ID"><i class="fa fa-pencil" aria-hidden="true"></i>/---/</a>
                                        <a asp-action="DeleteProduct" asp-route-id="@item.ID"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                }

            </div>
        </div>
    </div>
</div>