﻿@model JamRockApplication_v1.Models.AdminViewModels.ProductViewModels.DisplayProductViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Edit Product";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a>
                        <img class="img-responsive" src="@Model.productImage" id="imgPreviewEdit" style="height:200px;width:200px;" alt="product image"/>
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">Event Image</h6>
                    <h4 class="card-title">Please Upload Your event image here</h4>
                    <div class="form-group">
                        <label class="btn btn-primary">Select New Image</label>
                        <input type="file" onchange="EditpreviewFile(this)" accept="image/*" />
                    </div>
                    <button class="btn btn-primary" onclick="updateProductImage(@Model.ID)">Upload New Image</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title text-center">Current Product Information</h4>
                </div>
                <div class="card-content table-responsive">
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>Field</th>
                                <th>Current Value</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Product Name</td>
                                <td>
                                    <input value="@Model.Name" id="productName" type="text"/>
                                </td>
                                <td><button class="btn btn-warning" onclick="updateProductName(@Model.ID)">Update</button></td>
                            </tr>
                            <tr>
                                <td>Product Description</td>
                                <td>
                                    <input value="@Model.Description" id="productDescription" type="text"/>
                                </td>
                                <td><button class="btn btn-warning" onclick="updateProductDescription(@Model.ID)">Update</button></td>
                            </tr>
                            <tr>
                                <td>Product Category</td>
                                <td>
                                    <select class="form-control" asp-for="Category" id="productCategory">
                                        <option selected disabled>@Model.Category</option>
                                        <option value="T-Shirt">T-Shirt</option>
                                        <option value="Polo-Shirt">Polo Shirt</option>
                                        <option value="Tank-Top">Tank Top</option>
                                        <option value="Trucker-Caps">Trucker Caps</option>
                                        <option value="BaseBall-Caps">BaseBall-Caps</option>
                                        <option value="Snap-Back">Snap-Back</option>
                                    </select>
                                </td>
                                <td><button class="btn btn-warning" onclick="updateProductCategory(@Model.ID)">Update</button></td>
                            </tr>
                            <tr>
                                <td>Product Gender</td>
                                <td>
                                    <select class="form-control" asp-for="Gender" id="productGender">
                                        <option selected disabled>Choose Gender</option>
                                        <option value="Men">Men</option>
                                        <option value="Women">Women</option>
                                        <option value="Both">Both</option>
                                    </select>
                                </td>
                                <td><button class="btn btn-warning" onclick="updateProductGender(@Model.ID)">Update</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title text-center">Colors and Sizes</h4>
                </div>             
                <div class="card-content table-responsive">              
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control" id="color">
                                    <option selected disabled>Choose Color</option>
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Grey">Grey</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Dark-Blue">Dark Blue</option>
                                    <option value="Green">Green</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="size">
                                    <option selected disabled>Choose Size</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                    <option value="Xlarge">Extra Large</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="quantity" class="form-control" required placeholder="Quantity" type="number"/>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-small" onclick="addNewColorSize(@Model.ID)">Add</button>
                            </div>
                        </div>
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Total Quantity</th>
                                <th>Quantity Left</th>
                            </tr>
                            </thead>
                            <tbody>
                                @if (Model.ColorSizes.Count < 1)
                                {
                                    <tr>
                                        <td>No Colors or Sizes Added Yet</td> 
                                    </tr>
                                   
                                }
                                else
                                {
                                    foreach (var item in Model.ColorSizes)
                                     {
                                         <tr>
                                             <td>@item.Color</td>
                                             <td>@item.Size</td>
                                             <td>@item.Quantity</td>
                                             <td>@item.QuantityLeft</td>
                                         </tr>
                                     }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        
        
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
