﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.DisplayEventViewModel
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = Model.Name;
}

<div class="container">

    <div class="row container">
        <div class="col-md-12 hidden-md-up">
            <a class="btn btn-block btn-blue-grey" asp-action="Index">Go Back</a>
        </div>
    </div>
    <!--Blog-->
    <div class="row mt-1">
        <!--Main listing-->
        <div class="col-md-6">

            <!--Section: Post-->
            <section class="section blog-section">

                <!--First row-->
                <div class="row">

                    <div class="col-md-12">

                        <!--Post data-->
                        <div class="text-center blog-text thin-text wow fadeIn" data-wow-delay="0.3s">

                            <!-- Post data -->
                            <h6 class="text-muted"> @Model.eventDate.ToLongDateString()</h6>
                            <h2>@Model.Name</h2>

                        </div>
                        <!--/.Post data-->
                        <!-- Image -->
                        <div class="view hm-white-light z-depth-2 wow fadeIn">
                            <img src="@Model.eventImage" class="img-fluid" alt="@Model.Name image">
                        </div>

                        <!--Post text-->
                        <div class="post-text title-up wow fadeIn" data-wow-delay="0.3s" style="margin-top:20px;">
                            <p>
                                <br />
                            </p>
                            <p>@Model.Description</p>

                        </div>

                    </div>

                </div>
                <!--/First row-->

            </section>
            <!--/.Section: Post-->

        </div>
        <!--/Main listing-->
        <!--Sidebar-->
        <div class="col-md-6" style="height:900px;overflow-y:scroll;">
            <div class="divider-new">
                <h2 class="h2-responsive indigo-text-2 font-up font-bold mb-4 mt-3 ">
                    Gallery
                </h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Gallery.Count < 1)
                    {
                        <div class="text-center">
                            <h2 class="indigo-text-2 font-up font-bold mb-4 mt-3">Coming Soon</h2>
                        </div>
                    
                    }
                    else
                    {
                        <div id="mdb-lightbox-ui"></div>
                        <div class="mdb-lightbox">
                            @foreach (var item in Model.Gallery)
                            {
                                <figure class="col-md-4">
                                    <a href="@item.Image" data-size="1600x1067">
                                        <img src="@item.Image" class="img-fluid">
                                    </a>
                                </figure>
                            }
                        </div>
                    }
               
                </div>
            </div>
        </div>
        <!--/Sidebar-->
    </div>
    <!--/Blog-->
    <!--/Post text-->
    <div class="text-center wow fadeIn" data-wow-delay="0.3s">
        <div class="divider-new">
            <h2 class="h2-responsive text-center indigo-text-2 font-up font-bold mb-4 mt-3 ">
                Performers
            </h2>
        </div>
        @if (Model.eventArtists.Count < 1)
            {
            <div class="text-center">
                <h2 class="indigo-text-2 font-up font-bold mb-auto mt-auto">Coming Soon</h2>
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var a in Model.eventArtists)
                {
                    <div class="col-md-3 mb-r">
                        <div class="avatar">
                            <img src="@a.avatar" class="img-responsive img-fluid">
                        </div>
                        <h4>@a.Name</h4>

                    </div>
                }
            </div>
        }
    </div>
</div>