﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.FestivalViewModel
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = "Our Festivals";
}

<div class="container">
    <div class="divider-new wow fadeIn">
        <h2 class="h2-responsive text-center indigo-text-2 font-up font-bold mb-4 mt-3 ">Check out All Our Events</h2>
    </div>

    <!--Newsfeed-->
    <div class="newsfeed">
        @if (Model.events.Count < 1)
        {
            <div class="text-center">
                 <h2 class="display-2  indigo-text-2 font-up font-bold mb-4 mt-3">No Events Yet</h2>
             </div>

        }
        <div class="row">
            @foreach (var item in Model.events)
            {
                              <!--First column-->
                <div class="col-md-4 mb-3 wow fadeIn" data-wow-delay="0.4s">

                    <!--Card-->
                    <div class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">

                            <img src="@item.eventImage" class="img-fluid cardImageSizeNarrower" alt="">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!--/Card image-->
                        <!--Card content-->
                        <div class="card-block text-center">
                            <h5 class="brown-text"><i class="fa fa-calendar"></i> @item.eventDate.ToLongDateString()</h5>
                            <!--Title-->
                            <h5 class="card-title">@item.Name.Substring(0, Math.Min(item.Name.Length, 15))..</h5>
                            <!--Text-->
                            <p class="card-text">@item.Description.Substring(0, Math.Min(item.Description.Length, 50))..</p>
                            <a class="btn btn-primary" asp-action="details" asp-route-id="@item.ID">view more</a>
                        </div>
                        <!--/Card content-->

                    </div>
                    <!--/Card-->

                </div>
                <!--/First column-->
            }
        </div>
    </div>
    <!--/Newsfeed-->

</div>
