﻿@model JamRockApplication_v1.Models.AdminViewModels.EventViewModels.homePageViewModels
@{
    ViewData["Title"] = "Home";
}
<!--Mask-->
<div class="viewMain hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul>
            <li class="flex-center">
                @if (Model.latestModel == null)
                {
                    <img class="hidden-md-up wow fadeIn img-responsive" data-wow-duration="3s" src="https://jamrock.azureedge.net/images/newlogo.png" alt="logo" style="height: 250px; margin-top: 100px;" />

                    <img class="hidden-sm-down wow fadeIn img-responsive" data-wow-duration="3s" src="https://jamrock.azureedge.net/images/newlogo.png" alt="logo" style="height: 350px; margin-top: 100px;" />

                }
                else
                {
                    <img class="hidden-md-up wow fadeIn img-responsive" data-wow-duration="3s" src="@Model.latestModel.eventImage" alt="logo" style="height: 250px; margin-top: 100px;" />

                    <img class="hidden-sm-down wow fadeIn img-responsive" data-wow-duration="3s" src="@Model.latestModel.eventImage" alt="logo" style="height: 250px; margin-top: 100px;" />

                }

            </li>
            @if (Model.latestModel == null)
            {
                <li>
                    <h1 style="font-size: 24px;" class="hidden-md-up wow fadeInRightBig homeBanner" data-wow-duration="1s">New Event Coming Soon.</h1>
                    <h1 style="font-size: 34px;" class="hidden-sm-down wow fadeInLeftBig homeBanner" data-wow-duration="1s">New Event Coming Soon.</h1>
                </li>
            }
            else
            {
                <li>


                    @if (Model.latestModel.eventDate > DateTime.Today)
                    {
                        <a class="btn btn-primary btn-lg wow fadeInUp" data-wow-duration="2s" href="https://www.ticketfort.com/home/details/jamrock%20tropicana%20december%20gold%20edition/">Buy Tickets</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-lg wow fadeInUp" data-wow-duration="2s" disabled>Online Closed</a>
                    }



                </li>
                <li>
                    <h1 class="h1-responsive wow fadeInDown" data-wow-duration="1s"><a asp-action="details" asp-route-id="@Model.latestModel.ID" style="color:white">@Model.latestModel.Name.ToUpper()</a></h1>
                </li>
                <li>
                    <h2 class="wow slideInLeft" data-wow-duration="2s">@Model.latestModel.Location</h2>
                </li>
                <li>
                    <h3 class="h3-responsive wow slideInRight" data-wow-duration="2s">@Model.latestModel.eventDate.ToLongDateString()</h3>
                </li>
            }
        </ul>

    </div>
</div>
<!--/.Mask-->
<!-- Main container-->
<div class="container">
    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">About Us</h2>
    </div>
    <section id="about">
        <p class="grey-text-3 page-description info-section wow fadeInDown" data-delay="0.2s">
            JamRock Abuja Fest is Abuja’s largest outdoor Rave organized by Street Vibe Entertainment Ltd that takes place 4 times a year on a quarterly basis.
            JamRock Abuja Fest recent partnership with premium locations and events such as Transcorp Hilton Hotel, Jabi Lake Mall and Felabration to organize
            events has given JamRock (Street Vibe Entertainment Ltd) a respectable reputation in Nigeria’s entertainment industry.
            In 2017, our events showcased perfromances from the likes of Davido, Femi Kuti, TuFace, Seun Kuti, Ice Prince, Daddy Showkey, Faze,
            Olu maintain and more. While having Topmost DJs like DJ Jimmy Jatt, DJ Bally, DJ Sose and DJ TTB amongst other resident DJs, our events hosts over
            3,500 Abuja’s vibrant youth and top influencers which transformed the venue giving it the best ambience that was perfect in showcasing brands getting
            the right visibility.
        </p>
        <!--Second container-->
        <div class="container-fluid background-grey hidden-md-up">
            <div class="container py-3">

                <!--Section heading-->
                <h3 class="text-center indigo-text-2 font-up font-bold mb-4 mt-3 wow fadeIn" data-wow-delay="0.2s">Upcoming events</h3>

                <!--Section: upcoming events-->
                <section class="section text-center text-lg-left">

                    <hr class="between-sections">
                    @if (Model.upComingEvents.Count < 1)
            {
                        <h2 class="text-center indigo-text-2 font-up font-bold mb-4 mt-3 wow fadeIn" data-wow-delay="0.2s">No upcoming Events</h2>

                    }
                    else
                    {
                        foreach (var item in Model.upComingEvents)
                        {
                    <!--First row-->
                            <div class="row pt-1 mb-3 wow fadeIn" data-wow-delay="0.3s">

                                <!--First column-->
                                <div class="col-lg-5 mb-1-half" style="margin-bottom:5px;">

                                    <!--Image-->
                                    <div class="view hm-white-slight">
                                        <img src="@item.eventImage" class="img-fluid" alt="Post Image">
                                        <div class="mask waves-effect waves-light"></div>
                                    </div>
                                    <!--/Image-->

                                </div>
                                <!--/First column-->
                                <!--Second column-->
                                <div class="col-lg-6 ml-4">

                                    <!--Excerpt-->
                                    <h5 class="font-up mb-2"><a href="#!" class="text-muted grey-text-3 font-bold-2 pb-2">@item.eventDate.ToLongDateString()</a></h5>
                                    <h4 class="font-up mb-1"><a href="#!" class="black-text-2 font-bold pb-3">@item.Name</a></h4>
                                    <div class="grey-text-3"><p class="font-thin"><p align="justify">@item.Description.Substring(0, Math.Min(item.Description.Length, 100))....</p></p></div>
                                    <a asp-action="details" asp-route-id="@item.ID" class="btn btn-indigo waves-effect">Read more</a>
                                    <!--/Excerpt-->

                                </div>
                                <!--/Second column-->

                            </div>
                    <!--/First row-->
                        }
                    }

                </section>
                <!--Section: upcoming events-->

            </div>
        </div>

        <div class="container-fluid background-grey hidden-sm-down">
            <div class="container py-3">

                <!--Section heading-->
                <h3 class="text-center indigo-text-2 font-up font-bold mb-4 mt-3 wow fadeIn" data-wow-delay="0.2s">Upcoming events</h3>

                <!--Section: upcoming events-->
                <section class="section text-center text-lg-left">

                    <hr class="between-sections">

                    @if (Model.upComingEvents.Count < 1)
            {
                        <h2 class="text-center indigo-text-2 font-up font-bold mb-4 mt-3 wow fadeIn" data-wow-delay="0.3s">No Upcoming Events</h2>

                    }
                    else
                    {
                        foreach (var item in Model.upComingEvents)
                        {
                    <!--First row-->
                            <div class="row pt-1 mb-3">

                                <!--First column-->
                                <div class="col-lg-5 mb-1-half wow fadeInLeft" data-wow-delay="0.3s">

                                    <!--Image-->
                                    <div class="hm-white-slight">
                                        <img src="@item.eventImage" class="img-fluid" alt="Post Image" style="height: 250px">
                                        <div class="mask waves-effect waves-light"></div>
                                    </div>
                                    <!--/Image-->

                                </div>
                                <!--/First column-->
                                <!--Second column-->
                                <div class="col-lg-6 ml-4 wow fadeInRight" data-wow-delay="0.3s">

                                    <!--Excerpt-->
                                    <h5 class="font-up mb-2"><a href="#!" class="text-muted grey-text-3 font-bold-2 pb-2">| @item.eventDate.ToLongDateString()</a></h5>
                                    <h4 class="font-up mb-1"><a href="#!" class="black-text-2 font-bold pb-3">@item.Name</a></h4>
                                    <div class="grey-text-3"><p class="font-thin"><p align="justify">@item.Description</p></p></div>
                                    <a asp-action="details" asp-route-id="@item.ID" class="btn btn-indigo waves-effect">Read more</a>
                                    <!--/Excerpt-->

                                </div>
                                <!--/Second column-->

                            </div>


                        }


                    }


                </section>

                <!--Section: upcoming events-->

            </div>
        </div>
        <!--/Second container-->
        <!--First container-->
        <div class="container hidden-sm-down">
            <!--Section: Details-->
            <section id="events" class="section mt-4 mb-4">
                <!--Section heading-->
                <!--First row-->
                <div class="row wow fadeIn" data-delay="0.4s">
                    <!--Second column-->
                    <div class="col-xl-12 col-md-12">
                        @if (!Model.previousEvents.Any())
                        {

                        }
                        else
                        {

                            <h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-wow-delay="0.2s">Recent Events</h3>
                    <!--Section description-->
                            <p class="section-description wow fadeIn" data-wow-delay="0.2s">Check out a few of our recent events.</p>
                            <!-- Tab panels -->
                            <!--/First row-->

                            <hr class="between-sections">
                            <div class="tab-content vertical">
                                @foreach (var item in Model.previousEvents)
                                {
                                    <div class="tab-pane fade show in active" id="@item.ID" role="tabpanel">
                                        <br>
                                        <!--First row-->
                                        <div class="row">

                                            <!--First column-->
                                            <div class="col-lg-6 col-md-12 mb-3 text-center text-md-left">

                                                <!--Title-->
                                                <h4 class="mb-3">@item.Name</h4>

                                                <!--Description-->
                                                <p class="grey-text-3 page-description info-section">@item.Description</p>

                                            </div>
                                            <!--/First column-->
                                            <!--Second column-->
                                            <div class="col-lg-6 col-md-12">

                                                <!--Featured images-->
                                                <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                                    <img src="@item.eventImage" class="img-fluid">
                                                </div>

                                                <!--/Featured images-->

                                            </div>
                                            <!--/Second column-->

                                        </div>
                                        <!--/First row-->

                                    </div>
                                }


                            </div>
                        }

                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Details-->
            <!--Section: Gallery-->
            <section id="gallery" class="section mb-3 mt-3">

                <!--Section heading-->
                <h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-wow-delay="0.2s">Gallery of our events</h3>
            </section>
            <hr class="between-sections">
            <div class="row mb-5 wow fadeIn" data-wow-delay="0.4s">
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox no-margin">

                        <figure class="col-md-4">

                            <a href="https://jamrock.azureedge.net/images/g1.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g1.jpg" class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g2.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g2.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g3.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g3.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g4.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g4.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g5.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g5.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g6.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g6.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g7.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g7.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g8.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g8.jpg" class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://jamrock.azureedge.net/images/g9.jpg" data-size="1600x1067">
                                <img src="https://jamrock.azureedge.net/images/g9.jpg" class="img-fluid" />
                            </a>
                        </figure>

                    </div>

                </div>
            </div>
            <!--/Section: Gallery-->

        </div>
        <!--/First container-->
        <!--Third container-->
        <!--/Third container-->
        <div class="container">
            <!--Section: Team v.3-->
            <section id="team" class="section team-section mt-4">
                <h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-delay="0.3s">Our amazing team</h3>
                <hr class="between-sections">
                <!--First row-->
                <div class="row center-on-small-only mt-2">
                    <!--First column-->
                    <div class="col-lg-6 col-md-12 mb-1 wow fadeIn" data-delay="0.4s">

                        <div class="col-md-6 float-left">
                            <div class="avatar">
                                <img src="https://jamrock.azureedge.net/images/corrado.jpg">
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4>Corrado Fantoli </h4>

                        </div>

                    </div>
                    <!--/First column-->
                    <!--Second column-->
                    <div class="col-lg-6 col-md-12 mb-1 wow fadeIn" data-delay="0.4s">

                        <div class="col-md-6 float-left">
                            <div class="avatar">
                                <img src="https://jamrock.azureedge.net/images/ali.JPG">
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4>Ali Grema </h4>

                        </div>

                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->
                <div style="height:50px" class="hidden-md-down"></div>
                <!--Second row-->
                <div class="row center-on-small-only">

                    <!--Third column-->
                    <div class="col-lg-6 col-md-12 mb-1 wow fadeIn" data-delay="0.4s">

                        <div class="col-md-6 float-left">
                            <div class="avatar">
                                <img src="https://jamrock.azureedge.net/images/onajite.jpg">
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4>Jite Okumagba </h4>

                        </div>


                    </div>
                    <!--/Third column-->
                    <!--Fourth column-->
                    <div class="col-lg-6 col-md-12 mb-1 wow fadeIn" data-delay="0.4s">

                        <div class="col-md-6 float-left">
                            <div class="avatar">
                                <img src="https://jamrock.azureedge.net/images/jakpo.jpg">
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4>Jakpo Ukueku </h4>


                        </div>

                    </div>
                    <!--/Fourth column-->
                </div>
                <!--Second row-->
                @*<div class="row center-on-small-only">

                        <!--Third column-->
                        <div class="col-lg-6 col-md-12 mb-1 animated fadeIn" data-delay="0.4s">

                            <div class="col-md-6 float-left">
                                <div class="avatar">
                                    <img src="https://jamrock.azureedge.net/images/avatar.jpg">
                                </div>
                            </div>
                            <div class="col-md-6 float-right">
                                <h4>Alozie Anyanwu </h4>
                                <h5>Director</h5>
                            </div>


                        </div>
                        <!--/Third column-->
                    </div>*@
                <!--/Second row-->

            </section>

        </div>
    </section>


<h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-wow-delay="0.2s">Social Feeds</h3>

<hr class="between-sections">

    @*Feeds*@
    <section id="feeds" class="text-center animated fadeIn hidden-sm-down" data-wow-delay="0.2s">
        <div class="container">
            <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
            <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
            <ul class="juicer-feed" data-feed-id="jamrock_ng" data-per="10"></ul>
        </div>
    </section>


<h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-wow-delay="0.2s">Our Sponsors</h3>

<hr class="between-sections">

    <section id="sponsors" class="text-center wow fadeIn" data-wow-delay="0.2s">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating btn-small" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating btn-small" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
                <li data-target="#multi-item-example" data-slide-to="3"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-3 col-sm-12">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 12px;" src="~/images/sponsors/hotfm.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/eddie mpr.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/Glenfiddich_FRLU_Logo_RGB_Light_Cropped.png" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/Hamabid logo.jpg" alt="Card image cap">
                        </div>
                    </div>

                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item">

                    <div class="col-md-3 col-sm-12">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 20px;" src="~/images/sponsors/Hendricks Logo large.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 20px;" src="~/images/sponsors/logo tour nigeria.png" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 30px;" src="~/images/sponsors/O-JAY LOGO TA.png" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 30px;" src="~/images/sponsors/NELSON_JACK.jpg" alt="Card image cap">
                        </div>
                    </div>

                </div>
                <!--/.Second slide-->
                <!--Second slide-->
                <div class="carousel-item">

                    <div class="col-md-3 col-sm-12">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 30px;" src="~/images/sponsors/Zermatt.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/Pulse logo.png" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 12px;" src="~/images/sponsors/secretgarden.JPG" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" style="margin-top: 12px;" src="https://jamrock.azureedge.net/images/jbsmall.jpg" alt="Card image cap">
                        </div>
                    </div>

                </div>
                <!--/.Second slide-->
                <div class="carousel-item">
                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/LEGEND LOGO.png" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card sponsorImageContainer" style="background-color: black">
                            <img class="img-fluid sponsorImage" src="https://jamrock.azureedge.net/images/mtvsmall.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/XAMANILOGONEWopy.jpg" alt="Card image cap">
                        </div>
                    </div>


                    <div class="col-md-3 hidden-sm-down">
                        <div class="card sponsorImageContainer">
                            <img class="img-fluid sponsorImage" src="~/images/sponsors/tfort.png" alt="Card image cap">
                        </div>
                    </div>


                </div>
            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </section>

<h3 class="text-center indigo-text-2 font-up font-bold mb-3 wow fadeIn" data-wow-delay="0.2s">Contact Us</h3>


<hr class="between-sections">
    <!--Section: Contact-->
    <section id="contact">
        <section class="section mb-4 wowfadeIn" data-wow-delay="0.3s">
            <div class="row">

                <!--First column-->
                <div class="col-md-5">

                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header mdb-color">
                                <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                            </div>
                            <br>

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="emailName" class="form-control">
                                <label for="form3">Your name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="emailAddress" class="form-control">
                                <label for="form2">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-tag prefix"></i>
                                <input type="text" id="emailSubject" class="form-control">
                                <label for="form32">Subject</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea type="text" id="emailContent" class="md-textarea"></textarea>
                                <label for="form8">Message Here</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-ins" onclick="sendMail()">Submit</button>
                            </div>

                        </div>

                    </div>
                    <!--/Form with header-->

                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-md-7">
                    <!--Google map-->
                    <div id="map-container" class="z-depth-1-half map-container" style="height: 400px"></div>
                    <br>
                    <!--Buttons-->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a class="btn-floating btn-small mdb-color"><i class="fa fa-map-marker"></i></a>
                            <p>Jabi Lake Mall, </p>
                            <p>Abuja</p>
                        </div>

                        <div class="col-md-4">
                            <a class="btn-floating btn-small mdb-color"><i class="fa fa-phone"></i></a>
                            <p>08166227778</p>
                            <p>08097533870</p>
                        </div>

                        <div class="col-md-4">
                            <a class="btn-floating btn-small mdb-color"><i class="fa fa-envelope"></i></a>
                            <p>info@jamrocknigeria.com</p>
                            <p>jamrock.ng@gmail.com</p>
                        </div>
                    </div>

                </div>
                <!--/Second column-->
            </div>
        </section>
    </section>
    <!--Section: Contact-->
</div>
