﻿@model IEnumerable<JamRockApplication_v1.Models.AdminModels.Customer>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="yellow">
                <h4 class="title">Orders Management</h4>
            </div>
            <div class="card-content table-responsive">
                @if (Model == null)
                {
                    <h2>No Customers in the Database</h2>

                }
                else
                {
                    <table class="table" id="dataTable">
                        <thead class="text-primary">
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                        </tr>
                        </thead>
                        <tbody id="tb">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                            </tr>
                        }
                        </tbody>

                    </table>

                }

            </div>
        </div>
    </div>
</div>
