﻿@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "New User";
}
<div class="container-fluid">
    <div class="row flex-center">
        @if (ViewBag.status != null)
        {
            <div class="alert alert-info">
                <button class="close" type="button">X</button>
                <span>@ViewBag.status</span>
            </div> 
        }

        <div class="col-md-6 content-center">
            <div class="card ">
                <form asp-controller="Users" asp-action="NewUser" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                    <div class="card-header" data-background-color="purple">
                        <h4 class="title text-center">Create New User</h4>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="card-content">
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                            </span>
                            <input asp-for="Name" class="form-control" placeholder="Full Name" type="text"/>

                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                            </span>
                            <input asp-for="Email" class="form-control" placeholder="Email" type="email"/>

                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                            </span>
                            <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>

                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                            </span>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password"/>

                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <select class="form-control" asp-for="Role">
                                <option selected disabled>Choose Role</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Staff">Shop Staff</option>
                                <option value="Blogger">Blog Staff</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"/>

                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}