﻿@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="page-header" filter-color="black">
    <div class="container">
        <div class="col-md-6 content-center">
            <div class="card card-login card-plain">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="header header-primary text-center">
                        <div>
                            <img src="~/images/logos/thumb-a5136-1472552421.png" alt="">
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input asp-for="Email" class="form-control" placeholder="Email" />

                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                            </span>
                            <input asp-for="Password" class="form-control" placeholder="Password" />

                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-round btn-lg btn-block" style="background-color:#3E4551">Log in</button>
                    </div>
                    <div>
                        <h6>
                            <a asp-area="" asp-controller="Account" asp-action="Register" class="link">Create Account</a>
                        </h6>
                        <h6>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="link">Home</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright">
                &copy;
                <script>
                        document.write(new Date().getFullYear())
                </script>, Powered by Heuristix
            </div>
        </div>
    </footer>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}