﻿
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = "Cart";
}
<section class="container-fluid" style="padding:40px;">
    <div class="row container" style="padding-bottom:10px;">
        <div class="col-md-12 hidden-md-up">
            <a class="btn btn-block btn-blue-grey" asp-action="Index">
                Continue Shopping
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div id="cartTableView">   @await Html.PartialAsync("CartTable")</div>
        </div>
        <div class="col-lg-4 col-sm-12">
        @if (Model.cartItems.Count > 0)
        {
            <section class="wow fadeIn stickyPay" data-wow-delay="0.1s">
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-md-12">
                        <!--Form without header-->
                        <div class="card">
                            <div class="card-block">
                                <!--Header-->
                                <div class="text-center">
                                    <h3>Checkout</h3>
                                    <hr class="mt-2 mb-2">
                                </div>
                                <!--Body-->
                                <form>                               
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="customerName" class="form-control">
                                    <label for="customerName">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="customerEmail" class="form-control">
                                    <label for="customerEmail">Your email</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="tel" id="customerPhone" class="form-control">
                                    <label for="customerPhone">Phone Number</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea type="text" id="customerAddress" class="md-textarea"></textarea>
                                    <label for="customerAddress">Address</label>
                                </div>
                                <div class="md-form">
                                    <h5>Shipping Options</h5>
                                    <form class="form-inline">

                                        <fieldset class="form-group">
                                            <input name="deliveryOption" type="radio" id="radio11" checked="checked" value="sameDay">
                                            <label for="radio11">Same Day(500)</label>
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <input name="deliveryOption" type="radio" id="radio21" value="nextDay">
                                            <label for="radio21">Next Day(Free)</label>
                                        </fieldset>

                                    </form>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-default" onclick="payWithPaystack()">Pay</button>
                                </div>
                                    @*<div class="g-recaptcha" data-sitekey="6LfT-zAUAAAAAF29QS_JNNxOaU408kxsipXRzZ21"></div>*@
                                </form>
                            </div>
                        </div>
                        <!--/Form without header-->

                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->

            </section>
        }
        </div>
    </div>
</section>