﻿@model JamRockApplication_v1.Models.AdminViewModels.CartViewModels.CartViewModel

@if (Model.cartItems.Count > 0)
{
    <input id="reference" value="@ViewBag.reference" hidden>
    <input id="key" value="@ViewBag.key" hidden />
    <div class="table-responsive">
        <table class="table product-table hidden-sm-down">
            <!--Table head-->
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <!--/Table head-->
            <!--Table body-->
            <tbody>
                @foreach (var p in Model.cartItems)
                {

                <!--First row-->
                    <tr>
                        <th scope="row">
                            <img src="@p.ProductImage" alt="" class="img-fluid">
                        </th>
                        <td>
                            <h5><strong>@Html.DisplayFor(modelItem => p.ProductName)</strong></h5>
                        </td>
                        <td>@p.ProductColor</td>
                        <td>@p.ProductSize</td>
                        <td class="small">&#8358; @Html.DisplayFor(modelItem => p.ProductPrice)</td>
                        <td>
                            <span class="qty">@Html.DisplayFor(modelItem => p.ProductQuantity)</span>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary btn-rounded" onclick="Decrease(@p.Id)">
                                    <input type="radio" name="options" id="option1">&mdash;
                                </label>
                                <label class="btn btn-sm btn-primary btn-rounded" onclick="Increase(@p.Id)">
                                    <input type="radio" name="options" id="option2">+
                                </label>
                            </div>
                        </td>
                        <td>&#8358; @Html.DisplayFor(modelItem => p.Amount)</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" onclick="Remove(@p.Id)" title="Remove item">
                                X
                            </button>
                        </td>
                    </tr>
                <!--/First row-->
                }
                <!--Fourth row-->
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <h4><strong>Total</strong></h4>
                    </td>
                    <td>
                        <h6>&#8358; @Html.DisplayFor(model => model.totalCost)</h6>
                        <input hidden value="@Model.totalCost" id="totalCost"/>
                    </td>
                </tr>
                <!--/Fourth row-->

            </tbody>
            <!--/Table body-->
        </table>


        <table class="table table-hover hidden-md-up">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.cartItems)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => p.ProductName)</td>
                        <td>&#8358; @Html.DisplayFor(modelItem => p.Amount)</td>
                        <td><a onclick="Remove(@p.Id)"><i class="fa fa-remove"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div style="margin-bottom:350px;" class="text-center">
        <h3>Cart Is Empty</h3>
        <a asp-controller="Shop" asp-action="Index" class="btn btn-success">Start Shopping</a>
    </div>

}

