﻿@model IEnumerable<JamRockApplication_v1.Models.AdminViewModels.ProductViewModels.DisplayProductViewModel>
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = "Category";
}


<!-- Main Container -->
<div class="container">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-4 filter-menu hidden-sm-down">

            <div class="sticky">
                <!-- Filter by color-->
                <h5 class="pt-2">
                    <strong>COLOR</strong>
                </h5>
                <div class="divider"></div>

                <ul>
                    <li>
                        <input type="checkbox" id="checkbox9">
                        <label for="checkbox9">White</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox10">Blue</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox11">
                        <label for="checkbox11">Black</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox12">Green</label>
                    </li>
                    
                    <li>
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox12">Grey</label>
                    </li>
                    
                    <li>
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox12">Dark Blue</label>
                    </li>
                </ul>

                <!-- Filter by size -->
                <h5 class="pt-2">
                    <strong>SIZE</strong>
                </h5>
                <div class="divider"></div>

                <ul>
                    <li>
                        <input type="checkbox" id="checkbox13">
                        <label for="checkbox13">Extra Small</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox14">
                        <label for="checkbox14">Small</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox15">
                        <label for="checkbox15">Medium</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox16">
                        <label for="checkbox16">Large</label>
                    </li>

                    <li>
                        <input type="checkbox" id="checkbox17">
                        <label for="checkbox17">Extra Large</label>
                    </li>
                </ul>
                <!-- /.Panel -->

            </div>

        </div>
        <!-- /.Sidebar -->
        <!-- Content -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <!-- Products Grid -->

            <section class="section">
                @if (!Model.Any())
                {
                    <h2>No items in this category right now</h2>
                }
                <!-- First row -->
                <div class="row">
                    @foreach (var p in Model)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-1">
                            <!-- Card -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view overlay hm-white-slight">
                                    <img class="img-fluid img-responsive" src="@p.productImage" alt="Card image cap" style="height: 323px; width: 321px;">
                                    <a href="#" data-toggle="modal" data-target="#quick-look-ex">
                                        <div class="mask waves-light">
                                            <div class="flex-center product-quick-look">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.Card image -->
                                <!-- Card content -->
                                <div class="card-block text-center">
                                    <h4 class="card-title"><strong><a href="">@p.Name</a></strong></h4>

                                    <!-- Rating -->
                                    @*<ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>*@

                                    <!-- Description -->
                                    @*<p class="card-text">
                                        @p.Description
                                    </p>*@

                                    <!-- Card footer -->
                                    <div class="card-footer">
                                        <span class="left">&#8358; @p.Price</span>
                                        <span class="right">
                                            <a data-toggle="tooltip" data-placement="top" title="Add to Cart" onclick="AddToCart(@p.ID)"><i class="fa fa-shopping-cart"></i></a>
                                            @*<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>*@
                                        </span>
                                    </div>

                                </div>
                                <!-- /.Card content -->

                            </div>
                            <!-- /.Card -->

                        </div>
                    }
                </div>
            </section>

            <!-- /.Products Grid -->

        </div>
        <!-- /.Content -->

    </div>

</div>
<!-- /.Main Container -->