﻿@model JamRockApplication_v1.Models.AdminViewModels.ProductViewModels.DisplayProductViewModel

@{
    Layout = $"~/Views/Shared/_LayoutSimple.cshtml";
    ViewData["Title"] = Model.Name;
}
<!-- Main Container -->
<div class="container">
    <div class="row container" style="padding:15px;">
        <div class="col-md-12 hidden-md-up">
            <a class="btn btn-block btn-blue-grey" asp-action="Index">Go Back</a>
        </div>
    </div>
    <section id="productDetails">
        <div class="row">
            <div class="col-lg-5">
                <img src="@Model.productImage" class="img-responsive img-fluid" alt="" />
            </div>
            <div class="col-lg-7">
                <h2 class="h2-responsive center-on-small-only"><strong>@Model.Name</strong></h2>
                <h4 class="h4-responsive center-on-small-only"><span class="green-text"><strong>&#8358; @Model.Price</strong></span></h4>
                <!--Accordion wrapper-->
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0">
                                    Description <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Accordion wrapper-->
                <!-- Add to Cart -->
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <select class="mdb-select colorful-select dropdown-primary" id="cs">
                                    <option selected>Choose your option</option>
                                    @foreach (var cs in Model.ColorSizes)
                                    {
                                       <option value="@cs.Id">@cs.Color in Size @cs.Size</option> 
                                    }
                                </select>
                                <label>Select Size and Color</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-on-small-only text-md-right">
                        @if (Model.Quantity > 1)
                        {
                            <span class="green-text">Product available</span>
                        }
                        else
                        {
                            <span class="red-text">Product out of stock</span> 
                        }

                        <a class="btn btn-primary" onclick="AddToCart(@Model.ID)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <!-- /.Add to Cart -->

        </div>
    </section>
   
</div>


