﻿
@model JamRockApplication_v1.Models.ShopViewModels.shopHomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutShopHome.cshtml";
    ViewData["Title"] = "Shop";
}

<div class="container-fluid">
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">Categories</h2>
    </div>
    <section id="Featured" style="padding:45px;">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 bottomMargin wow slideInLeft">

                <!--Collection card-->
                <div class="card collection-card hoverable">
                    <!--Card image-->
                    <div class="view  hm-zoom">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg" class="img-fluid" alt="">
                        <div class="stripe dark">
                            <a asp-action="Category" asp-route-category="Men">
                                <p>Men<i class="fa fa-chevron-right"></i></p>
                            </a>
                        </div>
                    </div>
                    <!--/.Card image-->
                </div>
                <!--/.Collection card-->

            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 bottomMargin wow slideInUp">

                <!--Collection card-->
                <div class="card collection-card hoverable">
                    <!--Card image-->
                    <div class="view  hm-zoom">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(5).jpg" class="img-fluid" alt="">
                        <div class="stripe dark">
                            <a asp-action="Category" asp-route-category="Women">
                                <p>Women<i class="fa fa-chevron-right"></i></p>
                            </a>
                        </div>
                    </div>
                    <!--/.Card image-->
                </div>
                <!--/.Collection card-->

            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 bottomMargin wow slideInRight">
                <!--Collection card-->
                <div class="card collection-card hoverable">
                    <!--Card image-->
                    <div class="view  hm-zoom">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" class="img-fluid" alt="">
                        <div class="stripe dark">
                            <a asp-action="Category" asp-route-category="Accessories">
                                <p>Accessories<i class="fa fa-chevron-right"></i></p>
                            </a>
                        </div>
                    </div>
                    <!--/.Card image-->
                </div>
                <!--/.Collection card-->

            </div>
        </div>
    </section>
    <div class="container pb-3">
        <!-- Promotions Section -->
        @*<section class="section">

            <!-- First row -->
            <div class="row text-center">

                <!-- First column -->
                <div class="col-lg-4 col-md-12">

                    <!-- Featured image -->
                    <div class="view overlay hm-white-slight z-depth-2">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg">
                        <a>
                            <div class="mask waves-light"></div>
                        </a>
                    </div>

                    <!-- Excerpt -->
                    <div class="card-block">
                        <h3>Shoes -50%</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                    </div>

                </div>
                <!-- /.First column -->
                <!-- Second column -->
                <div class="col-lg-4 col-md-6">

                    <!-- Featured image -->
                    <div class="view overlay hm-white-slight z-depth-2">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(32).jpg">
                        <a>
                            <div class="mask waves-light"></div>
                        </a>
                    </div>

                    <!-- Excerpt -->
                    <div class="card-block">
                        <h3>Watch - 2 for 1</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus.</p>
                    </div>

                </div>
                <!-- /.Second column -->
                <!-- Third column -->
                <div class="col-lg-4 col-md-6">

                    <!-- Featured image -->
                    <div class="view overlay hm-white-slight z-depth-2">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(2).jpg">
                        <a>
                            <div class="mask waves-light"></div>
                        </a>
                    </div>

                    <!-- Excerpt -->
                    <div class="card-block">
                        <h3>Sweater -20%</h3>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                    </div>

                </div>
                <!-- /.Third column -->

            </div>
            <!-- /.First row -->

        </section>*@
        <!-- /.Promotions Section -->
        <!-- Featured Products Section-->
        <section class="section">
            <!-- Section heading -->
            <div class="divider-new">
                <h2 class="h2-responsive wow fadeInDown">Featured Products</h2>
            </div>
            <!-- First row -->
            <div class="row wow fadeInUp">
                @if (!Model.Featured.Any())
                {
                    <div class="text-center d-flex justify-content-center">
                        <h2 >No Featured Items Yet.</h2>
                    </div>
                   
                }
                else
                {
                    foreach (var item in Model.Featured)
                     {
                         <!-- First column -->
                         <div class="col-lg-4 col-md-12 mb-1">
                             <!-- Card -->
                             <div class="card card-cascade narrower">
                                 <!-- Card image -->
                                 <div class="view overlay hm-white-slight">
                                     <img src="@item.productImage" class="img-responsive img-fluid" style="height: 323px;"/>
                                     <a>
                                         <div class="mask waves-light"></div>
                                     </a>
                                 </div>
                                 <!-- /.Card image -->
                                 <!-- Card content -->
                                 <div class="card-block text-center">

                                     <!-- Category & Title -->
                                     <a href="" class="text-muted"><h5>@item.Category</h5></a>
                                     <h4 class="card-title"><strong><a asp-action="Details" asp-route-id="@item.ID">@item.Name</a></strong></h4>

                                     <!-- Description -->
                                     <p class="card-text">
                                         @item.Description.Substring(0, Math.Min(item.Description.Length, 15))...
                                     </p>

                                     <!-- Card footer -->
                                     <div class="card-footer">
                                         <span class="left">&#8358; @item.Price</span>
                                         <span class="right">
                                             @*<a class="hidden-sm-down" data-toggle="modal" data-placement="top" title="Quick Look" data-target="#@item.ID"><i class="fa fa-eye"></i></a>*@
                                             <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                         </span>
                                     </div>

                                 </div>
                                 <!-- /.Card content -->

                             </div>
                             <!-- /.Card -->

                         </div>
                         <!-- /.First column -->
                         <div class="modal ql-modal" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog" role="document">
                                 <!--Content-->
                                 <div class="modal-content">
                                     <!--Header-->
                                     <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                         <h4 class="modal-title" id="myModalLabel">Quick look</h4>
                                     </div>
                                     <!--Body-->
                                     <div class="modal-body">
                                         <!--Grid-->
                                         <div class="container-fluid">
                                             <div class="row">
                                                 <!--First column-->
                                                 <div class="col-md-6">
                                                     <h4>Gallery</h4>
                                                     <hr>
                                                     <img src="@item.productImage" class="img-responsive img-fluid"/>
                                                 </div>
                                                 <!--/.First column-->
                                                 <!--Second column-->
                                                 <div class="col-md-6">
                                                     <!--Title-->
                                                     <a><h4>@item.Name</h4></a>
                                                     <hr>
                                                     <!--Price-->
                                                     <div class="price">
                                                         <p><span class="price-after">&#8358; @item.Price</span>
                                                         </p>
                                                     </div>
                                                     <!--Size-->
                                                     <select class="mdb-select colorful-select dropdown-primary" id="cs">
                                                         <option selected>Choose your option</option>
                                                         @foreach (var cs in item.ColorSizes)
                                                         {
                                                             <option value="@cs.Id">@cs.Color in Size @cs.Size</option>
                                                         }
                                                     </select>
                                                     <!--Call to action-->
                                                     <a onclick="AddToCart(@item.ID)" class="btn btn-default">Buy now</a>
                                                     <a class="btn-floating wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist"><i class="fa fa-heart"></i></a>

                                                     <hr>

                                                     <h4>Short description</h4>
                                                     <hr>
                                                     <p>@item.Description</p>
                                                     <br>
                                                     <!--Social buttons-->
                                                     <p class="text-center">Share with your friends!</p>
                                                     <ul class="inline-ul text-center">
                                                         <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                                         <li>
                                                             <a class="btn-floating btn-small btn-tw twitter-share-button"
                                                                href="https://twitter.com/intent/tweet?text=checkout%20this%20product%20from%20JamRock&url=https%3A%2F%2Fjamrock.com%2Fshop%2Fdetails%2F@(item.ID)">
                                                                 <i class="fa fa-twitter"></i>
                                                             </a>
                                                         </li>
                                                         <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
                                                     </ul>
                                                 </div>
                                                 <!--/.Second column-->
                                             </div>
                                         </div>
                                         <!--/.Grid-->
                                     </div>
                                     <!--Footer-->
                                     <div class="modal-footer">

                                         <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                     </div>
                                 </div>
                                 <!--/.Content-->
                             </div>
                         </div>
                     }
                }
              

            </div>
            <!-- /.First row -->

        </section>
        <!-- /.Featured Products Section -->
    <hr />
        <section class="d-flex">

            <div class="row">

                <!-- New Products-->
                <div class="col-lg-4 col-md-4 col-sm-12 wow slideInLeft">
                    @if (!Model.New.Any())
                    {

                    }
                    else
                    {
                        <div class="divider-new hidden-md-up">
                            <h4>New Products</h4>
                        </div>
                        <h4 class="hidden-sm-down">New Products</h4>
                        foreach (var item in Model.New)
                         {

                             <!-- First row -->
                             <div class="row mt-2 pt-1 pb-1 hoverable">

                                 <div class="col-6">
                                     <a><img src="@item.productImage" class="img-responsive img-fluid" /></a>
                                 </div>
                                 <div class="col-6">

                                     <!-- Title -->
                                     <a asp-action="Details" asp-route-id="@item.ID"><strong>@item.Name</strong></a>

                                     <!-- Rating -->
                                     @*<ul class="rating inline-ul">
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                     </ul>*@

                                     <!-- Price -->
                                     <h5 class="h5-responsive"><strong>&#8358; @item.Price</strong></h5>

                                 </div>

                             </div>
                             <!-- /.First row -->
                         }

                    }
                  

                </div>
                <!-- /.New Products-->
                <!-- Top Sellers-->
                <div class="col-lg-4 col-sm-12 wow slideInUp">
                    @if (!Model.Top.Any())
                    {

                    }
                    else
                    {
                        <div class="divider-new hidden-md-up">
                            <h4>Top Sellers</h4>
                        </div>
                        <h4 class="hidden-sm-down">Top Sellers</h4>
                        foreach (var item in Model.Top)
                         {
                             <!-- First row -->
                             <div class="row mt-2 pt-1 pb-1 hoverable">

                                 <div class="col-6">
                                     <a><img src="@item.productImage" class="img-responsive img-fluid"/></a>
                                 </div>
                                 <div class="col-6">

                                     <!-- Title -->
                                     <a asp-action="Details" asp-route-id="@item.ID"><strong>@item.Name</strong></a>

                                     <!-- Rating -->
                                     @*<ul class="rating inline-ul">
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                     </ul>*@

                                     <!-- Price -->
                                     <h5 class="h5-responsive"><strong>&#8358; @item.Price</strong></h5>

                                 </div>

                             </div>
                             <!-- /.First row -->
                         }
 
                    }
                  

                </div>
                <!-- /.Top Sellers -->
                <!-- Random Products-->
                <div class="col-lg-4 col-sm-12 wow slideInRight">
                    @if (!Model.Random.Any())
                    {

                    }
                    else
                    {
                        <div class="divider-new hidden-md-up">
                            <h4>Random Products</h4>
                        </div>
                        <h4 class="hidden-sm-down">Random Products</h4>
                        foreach (var item in Model.Random)
                         {
                             <!-- First row -->
                             <div class="row mt-2 pt-1 pb-1 hoverable">

                                 <div class="col-6">
                                     <a><img src="@item.productImage" class="img-responsive img-fluid"/></a>
                                 </div>
                                 <div class="col-6">

                                     <!-- Title -->
                                     <a asp-action="Details" asp-route-id="@item.ID"><strong>@item.Name</strong></a>

                                     <!-- Rating -->
                                     @*<ul class="rating inline-ul">
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                         <li><i class="fa fa-star amber-text"></i></li>
                                     </ul>*@

                                     <!-- Price -->
                                     <h5 class="h5-responsive"><strong>&#8358; @item.Price</strong></h5>

                                 </div>

                             </div>
                             <!-- /.First row -->

                         }   
                    }
 


                </div>
                <!-- /.Random Products -->

            </div>

        </section>
    </div>
    <hr />
<section class="advantages lighten-3 hidden-sm-down wow bounceInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <i class="fa fa-trophy rounded-circle mb-1" aria-hidden="true"></i>
                <h5><strong>Quality guaranteed</strong></h5>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-truck rounded-circle mb-1" aria-hidden="true"></i>
                <h5><strong>Trusted delivery</strong></h5>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-lock rounded-circle mb-1" aria-hidden="true"></i>
                <h5><strong>Secure payment</strong></h5>
            </div>
        </div>
    </div>
</section>
<hr/>
    <br/>
</div>

