﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ticket Fort">
    <meta name="msapplication-TileColor" content="#5cb95c">
    <meta name="msapplication-TileImage" content="~/img/icons/mstile-144x144.png">
    <link rel="manifest" href="~/images/icons/manifest.json">

    <meta name="description" content="">
    <title>Control Panel</title>

    <!-- Bootstrap core CSS     -->
    <link href="~/bootstrap3/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <!--  Material Dashboard CSS    -->
    <link href="~/css/material-dashboard.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>



</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple">

            <div class="logo">
                <a href="#" class="simple-text">
                    Control Panel
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Product" asp-action="Products">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <p>Manage All Products</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Product" asp-action="Orders">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <p>View All Orders</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Event" asp-action="Index">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p>Manage All Events</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Users" asp-action="Customers">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <p>View All Customers</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Blog" asp-action="Posts">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <p>Manage Blog</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Users" asp-action="NewUser">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <p>Create New User</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Documentation">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <p>How To Use</p>
                        </a>
                    </li>
                    <li>
                      <hr/>
                    </li>
                    <li>
                        <a asp-controller="Shop" asp-action="Index">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                            <p>Back to Shop</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                            <p>Back to HomePage</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="nav navbar-left">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">                
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.heuristix.com">Managed by Heuristix</a>
                    </p>
                </div>
            </footer>
        </div>

    </div>
    
<script src="~/js/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="~/bootstrap3/bootstrap.min.js" type="text/javascript"></script>
<script src="~/js/modernizr-custom.js"></script>
<script src="~/js/site.js"></script>
    <script src="~/js/plugins/bootstrap-datepicker.min.js"></script>
    <script src="~/js/material-dashboard.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>

    $("#dataTable").DataTable();
    $(function () {
        if (!Modernizr.inputtypes.date) {
            $('input[type=date]').datepicker({
                dateFormat: 'yy-mm-dd'
            }
            );
        }
    });
    //$('input[type=date]').datepicker({ dateFormat: 'yy-mm-dd' });

</script>

    @RenderSection("scripts", required: false)
</body>
</html>
