﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">   
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ticket Fort">
    <meta name="msapplication-TileColor" content="#5cb95c">
    <meta name="msapplication-TileImage" content="~/img/icons/mstile-144x144.png">
    <link rel="manifest" href="~/images/icons/manifest.json">

    <meta name="description" content="">
    <title>@ViewData["Title"]</title>
    <style>
        .viewMain {
            background: url("https://jamrock.azureedge.net/images/e3.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100%;
        }
        .navbar {
            background-color:transparent;
        }

        .top-nav-collapse {
            background-color: #153535;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

    </style>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/mdb.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/mdb.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </environment>
</head>
<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-dark bg-faded scrolling-navbar">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" asp-controller="Home" asp-action="Index">
                <img src="https://jamrock.azureedge.net/images/brand-logo.png" alt="jamrock brand logo"/>
            </a>

            <div class="collapse navbar-collapse transparent" id="navbarNav1">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feeds">Feeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sponsors">Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Festivals">Festivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Shop" asp-action="Index">Shop</a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>
    @RenderBody()
    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <img src="https://jamrock.azureedge.net/images/brand-logo.png" />
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">Get In Touch</h5>
                    <ul>
                        <li><a href="#!">The Secret Garden, </a></li>
                        <li><a href="#!">Riverplate park,</a></li>
                        <li><a href="#!">off Ahmadu Bello Way, </a></li>
                        <li><a href="#!">Wuse 2, Abuja FCT,Nigeria</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">
            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Social buttons-->
        <div class="social-section">
            <ul>
                <li><a class="btn-floating btn-small btn-fb" href="https://www.facebook.com/jamrockng/"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn-floating btn-small btn-tw" href="https://twitter.com/jamrock_ng"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn-floating btn-small btn-ins" href="https://www.instagram.com/jamrock_ng/"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>
        <!--/.Social buttons-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a> JAMROCK </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <environment names="Development">
        <script src="~/js/jquery-3.1.1.js"></script>
        <script src="~/js/tether.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/mdb.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            new WOW().init();
            //toastr.options = {
            //    "debug": false,
            //    "positionClass": "toast-bottom-full-width",
            //    "fadeIn": 5000,
            //    "fadeOut": 5000,
            //    "timeOut": 20000,
            //    "progressBar": true,
            //    "closeButton": true
            //}
            //toastr.info("Hardcopy 5k Regular Tickets Available At The Secret Garden, Jabi Lake Mall, Legend, Adnar Robati Luxury.");

        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXFMI71QkTcrDE5zB53hNkv0GPJf5_lW4&callback=init_map"
                async defer></script>
        <script src="https://js.paystack.co/v1/inline.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-3.1.1.js"></script>
        <script src="~/js/tether.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/mdb.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            new WOW().init();
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXFMI71QkTcrDE5zB53hNkv0GPJf5_lW4&callback=init_map"
                async defer></script>
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106410647-1', 'auto');
            ga('send', 'pageview');

        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
