﻿@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-controller="Account">Hello @User.Claims.FirstOrDefault(c => c.Type.Equals("emails"))?.Value </a></li>
        <li class="nav-item  btn btn-danger btn-sm my-0"><a class="nav-link" asp-controller="Account" asp-action="SignOut">Sign out</a></li>

        @if (User.IsInRole("Administrator,Staff,Blogger"))
        {
            <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="Index">My Control Panel</a></li>
        }
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
    </ul>
}
