﻿@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<div class="page-header" filter-color="black">
    <div class="container">      
        <h1 class="text-danger">Error</h1>
        <h2 class="text-danger">Ooops, Seems an error occurred while processing your request.</h2>
        <h3 class="text-danger">Please contact support at <strong>jamrock.ng@gmail.com</strong>.</h3>
   
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back Home</a> 
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" asp-controller="Shop" asp-action="Index">Back To Shop</a> 
            </div>
        </div>
    </div>
</div>
